html {
    /* background-image: url("https://labs.earthpeople.se/files/2018/11/world-heatmap-100km-style.png"); */
    /* background-color: blue; */
}

body {
    /* background-color: aqua; */
    font-family: 'georgia';font-size: 22px; background-image: url(https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-1200-80.jpg);background-position: center; background-size:cover; background-repeat: no-repeat


}

.navbar-color {
    /* background-color: aqua; */
    background-color: rgb(11, 187, 246);

}

.latitude-color {
    background-color: #e279b3;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 10px; */
}

.container {
    text-align: center;
}

.data_body {
    text-align: center;
}

.row {
    padding-top: 30px;
    /* background-color: aqua; */
    background-image: 'world-heatmap-100km-style.png';
}

.table_body {
    background-color: #e279b3;
}

.pic-bottom-text {
    padding-top: 20px;
    background-color: #ffbb00;
}

/* .pic-bottom-text {
    background-color: #e279b3;
} */

.navbar-brand {
    font-weight: 200;
}


.title-banner {
    background-color: #ffbb00;
}




/* Point-zoom Container */
.img-hover-zoom-main img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
    position: relative;
    z-index: 9999;
}
  
  /* The Transformation */
  .img-hover-zoom-main:hover img {
    transform: scale(1.25);
    position: relative;
    z-index: 9999;
}

/* Point-zoom Container */
.img-hover-zoom img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
    position: relative;
    z-index: 9999;
}
  
  /* The Transformation */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
    position: relative;
    z-index: 9999;
}



@media (max-width: 700px;)

    .hide-small-titles {
        visibility: hidden;
    }