html {
    /* background-image: url("https://labs.earthpeople.se/files/2018/11/world-heatmap-100km-style.png"); */
    /* background-color: blue; */
}

body {
    /* background-color: aqua; */
    font-family: 'georgia';font-size: 22px; background-image: url(http://cdn.cnn.com/cnnnext/dam/assets/181010131059-australia-best-beaches-cossies-beach-cocos3.jpg);background-position: center center; background-size:cover; background-repeat: no-repeat; min-height: 100%;
    /* background-image: url(https://cdn.mos.cms.futurecdn.net/wtqqnkYDYi2ifsWZVW2MT4-1200-80.jpg); */
}

/* #body-hide-whitespace {
    background-image: url(http://cdn.cnn.com/cnnnext/dam/assets181010131059-australia-best-beaches-cossies-beach-cocos3.jpg);background-position: center; background-size:cover; background-repeat: no-repeat;
} */


.navbar-custom {
    background-color: #f1c841;
    border: solid 1px black;
}

.navbar-color {
    /* background-color: aqua; */
    background-color: rgb(11, 187, 246);
    border: solid 1px black;
}

.latitude-color {
    background-color: #e279b3;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px black;
}

.container {
    text-align: center;
}

.main-img-index {
    margin-right: 20px;
}

#comparison-text {
    /* background-color: #e279b3; */
    background-color: #ffbb00;
}

.data_body {
    text-align: center;
}

#data-body-div {
    background-color: rgb(11, 187, 246);
}

/* #data-hr {
    height: 10px;
} */

.data-title-sub {
    margin-right: auto;
    margin-left: auto;
    border: 1px;
}


.row {
    padding-top: 30px;
    /* background-color: aqua; */
    background-image: 'world-heatmap-100km-style.png';
}

.table_body {
    background-color: #e279b3;
}

.pic-bottom-text {
    padding-top: 20px;
    background-color: #ffbb00;
    /* background-color: darkorange; */
    border: solid 1px black;
}

/* .pic-bottom-text {
    background-color: #e279b3;
} */

.navbar-brand {
    font-weight: 200;
}

.title-banner-big {
    /* background-color: darkorange; */
    background-color: #ffbb00;
    border: solid 1px black;
    padding-left: 10px;
    padding-top: 10px;
}

.title-banner {
    background-color: #ffbb00;
    /* border: solid 1px black; */
}

.image-border {
    border: solid 1px black;
}


/* Point-zoom Container */
.img-hover-zoom-main img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
    position: relative;
    z-index: 9999;
}
  
  /* The Transformation */
  .img-hover-zoom-main:hover img {
    transform: scale(1.25);
    position: relative;
    z-index: 9999;
}

.img-hover-zoom-main-summary img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
    position: relative;
    z-index: 9999;
}

.img-hover-zoom-main-summary:hover img {
    transform: scale(1.5);
    position: relative;
    z-index: 9999;
}

/* Point-zoom Container */
.img-hover-zoom img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
    position: relative;
    z-index: 9999;
}
  
  /* The Transformation */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
    position: relative;
    z-index: 9999;
}




@media (max-width: 600px) {


.navbar-custom {
    background-color: #e279b3;
    /* background-color: rgb(11, 187, 246);    */
}

.navbar-dropdown {
    border: 1px;
}

.latitude-color {
    background-color: #ffbb00;
    /* background-color: rgb(11, 187, 246); */
    transform: rotate(1440deg);
    transition: transform 0.5s ease-in-out;
    /* transition: transform 0.5s ease-in; */
    
}

.title-banner-big {
    /* background-color: #e279b3; */
    background-color: rgb(11, 187, 246);
}

.title-banner {
    /* background-color: rgb(11, 187, 246); */
    background-color: #ffbb00;
}

.pic-bottom-text {
    background-color: #e279b3;
}

/* p {
    background-color: #ffbb00;
} */

.title-banner {
    background-color: #ffbb00;
}

#comparison-text {
    background-color: #e279b3;
}

#data-body-div {
    /* background-color: rgb(11, 187, 246); */
    background-color: #e279b3;
    /* background-color: #ffbb00; */

}

.table_body {
    /* background-color: #e279b3; */
    background-color: rgb(11, 187, 246);
}